/*COLOR SCHEME*/
$lightShade: #fff;
$lightAccent: #ffd12c;
$mainColor: #45009c;
$darkAccent: #7e7ca7;
$darkShade: #201c37;
/*SHADOW SCHEME*/
$darkShadeShadow: #201c37b6;
/*FONTS*/
$fontBebasNeue: 'Bebas Neue', sans-serif;
$fontRobotoCondensed: 'Roboto Condensed', sans-serif;
/*MISC*/
$topBarHeight: 54px;
$defaultHeightForSections: calc(100vh - #{$topBarHeight});
$containerGradient: rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699);
@mixin teamTitle($fontSize, $padding) {
	display: inline-block;
	font-family: 'Bebas Neue', sans-serif;
	font-size: $fontSize;
	padding: $padding;
	color: $lightAccent;
}

@mixin normalButton($fontSize, $color, $backgroundColor, $fontFamilly) {
	border: none;
	background-color: $backgroundColor;
	color: $color;
	font-size: $fontSize;
	font-family: $fontFamilly;
	padding: 10px;
	border-radius: 8px;
	cursor: pointer;
}
@mixin flexContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: $defaultHeightForSections;
	background-position: center;
	background-size: cover;
}
@mixin subtitle {
	font-size: 50px;
	font-family: $fontBebasNeue;
}

body {
	background-color: $lightShade;
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
}	
.App{
	animation: slideIn 1s;
}
@keyframes slideIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}

}
.loaderContainer{
	z-index: 1;
	height: 100vh;
	width: 100vw;
	display:grid;
	place-items:center;
	position: fixed;
	background-color: $lightShade;
	.loader {
		border: 16px solid $lightShade;
		border-radius: 50%;
		border-top: 16px solid $mainColor;
		width: 120px;
		height: 120px;
		animation: spin .7s linear infinite;
	}
	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}
.TopBar {
	top: 0;
	position: sticky;
	background-color: $darkShade;
	box-shadow: $darkShadeShadow 0px 3px 10px 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	font-size: 30px;
	color: $lightShade;
	align-items: center;
	height: $topBarHeight;
	transition: all 0.3s;
	.topBarButton {
		cursor: pointer;
		transition: 0.2s all;
		&:hover {
			color: $darkAccent;
		}
	}
	.title {
		@include teamTitle(40px, 3px 6px);
		animation-name: appear;
		animation-duration: 0.3s;
		overflow: hidden;
		flex-basis: auto;
		display: block;
	}
	@keyframes disappear {
		0% {
			color: $lightAccent;
		}
		100% {
			color: $darkShade;
		}
	}
	@keyframes appear {
		0% {
			color: $darkShade;
			letter-spacing: -1em;
		}
		100% {
			color: $lightAccent;
			letter-spacing: normal;
		}
	}
}
.LandingContainer {
	height: $defaultHeightForSections;
	display: grid;
	place-items: center;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	transition: all 1s;
	.title {
		@include teamTitle(90px, 0px);
		color: $mainColor;
		// animation: expandLettering 1s;
	}
	// @keyframes expandLettering {
	// 	0% {
	// 		letter-spacing: -0.2em;
	// 	}
	// 	100%{
	// 		letter-spacing: normal;
	// 	}
	// }
	.moto {
		font-size: 40px;
		color: $darkShade;
		margin-bottom: 10px;
	}
	button {
		@include normalButton(30px, $lightAccent, $darkShade, $fontBebasNeue);
		box-shadow: inset 0 0 0 0 $mainColor;
		transition: ease-out 0.7s;
		&:hover {
			box-shadow: inset 10em 0 0 0 $mainColor;
		}
	}
}
.ContentContainer {
	@include flexContainer();
	.subTitle {
		@include subtitle();
	}
	.childContainer {
		font-size: 35px;
		margin: 20vw;
	}
}

.DonateContainer {
	button {
		@include normalButton(30px, $lightAccent, $darkShade, $fontBebasNeue);
		margin-top: 0.3em;
		display: block;
		letter-spacing: 0.5px;
		box-shadow: inset 0 0 0 0 $mainColor;
		transition: ease-out 0.4s;
		&:hover {
			box-shadow: inset 8.5em 0 0 0 $mainColor;
		}
	}
}
